android antlr aopalliance asm avalon-framework backport-util-concurrent classworlds com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-configuration commons-dbcp commons-digester commons-el commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-net commons-pool commons-validator concurrent de dom4j doxia io javassist javax jdom jline joda-time jtidy junit log4j logkit mysql net ognl org oro plexus redis sslext stax tomcat velocity xerces xml-apis xmlenc xmlpull xpp3
